<div id = "suggestion-wrapper">
  <div id = "food-suggestion">
    This Food: <br>
    <%= link_to food_suggestion.name, food_suggestion.url %>
    <br>
    <%= image_tag food_suggestion.image_url, :class => "suggestion" %>
  </div>

  <div id = "music-suggestion">
    This <%= music_suggestion.type %>: <br>
    <%= link_to music_suggestion.name, music_suggestion.url %>
    <br>
    <%= image_tag music_suggestion.image_url, height: '100', width: '100', :class => "suggestion" %>
  </div>

  <div id = "favorite">
    <% if session["user_id"].nil? == false %>
      <% if session[:favorites].include? suggestion_id %>
        <%= link_to "Unfavorite", unfavorite_path(:suggestion_id => suggestion_id), :method => :delete %>
      <% else %>
        <%= link_to "Favorite", favorite_path(:suggestion_id => suggestion_id), :method => :post %>
      <% end %>
    <% end %>
  </div>
</div>
