<% if session["user_id"].nil? == false %>
  <h2> Search for Inspiration </h2>
    <%= form_tag '/', :method => "get" do %>
      <%= text_field_tag :search_term %>
      <%= submit_tag 'Search' %>
    <% end %>
<% end %>

<% if params["search_term"].present? %>
  <br>
  <h2> Your New Suggestion </h2>
  <%= render "suggestion", :music_suggestion => @music_search, :food_suggestion => @food_search, :suggestion_id => @suggestion_id %>
<% end %>

<br>

<h2> Top 20 Favorites </h2>

<% @top20.each do |suggestion| %>
  <%= render "suggestion", :music_suggestion => SpotifyItem.find(suggestion.music_type,suggestion.music_id), :food_suggestion => FoodItem.find(suggestion.food_id), :suggestion_id => suggestion.id %>
<% end %>
