<!DOCTYPE html>
<html>
<head>
  <title>Tunes and Takeout</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<h1>Tunes & Takeout</h1>

<% if @user.nil? %>
<%= link_to "Sign Up/Log In With Spotify", '/auth/spotify' %>
<% else %>
Hello, <%= @user.name %>.
<%= link_to "Log Out", logout_path, :method => :delete %>
<%= link_to "My Favorites", favorites_path %>

<% end %>

</header>

<%= yield %>

</body>
</html>
