<!DOCTYPE html>
<html>
<head>
  <title>Tunes and Takeout</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <script src="https://use.fontawesome.com/b6b5bfe290.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<header>

<h1>Tunes & Takeout</h1>

<div id = "greeting">
  <% if session["user_id"].nil? %>
    <%= image_tag("spotify_logo.jpg", height: '100', width: '100') %>
    <br>
    Hello, Guest!
  <% else %>
    <%= link_to image_tag(User.find(session["user_id"]).img_url, height: '100', width: '100'), "https://open.spotify.com/user/#{User.find(session["user_id"]).uid}" %>
    <br>
    Hello, <%= link_to "#{User.find(session["user_id"]).name}", "https://open.spotify.com/user/#{User.find(session["user_id"]).uid}" %>!
  <% end %>
</div>

<div id = "navlinks">
  <% if session["user_id"].nil? %>
    <%= link_to "Log In With Spotify", '/auth/spotify', id: "navlink" %>
  <% else %>
    <%= link_to "Search & Top 20", root_path, id: "navlink" %>
    <%= link_to "My Favorites", favorites_path, id: "navlink" %>
    <%= link_to "Log Out", logout_path, :method => :delete, id: "navlink" %>
  <% end %>
</div>

<div id = "message">
  <%= session[:message] %>
  <% session[:message]=nil %>
</div>

</header>

<article>
<%= yield %>
</article>

</body>
</html>
