<!DOCTYPE html>
<html>
<head>
  <title>Tunes and Takeout</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<h1>Tunes & Takeout</h1>

<nav>
  <% if session["user_id"].nil? %>
    <%= link_to "Sign Up/Log In With Spotify", '/auth/spotify' %>
  <% else %>
    <%= link_to image_tag(User.find(session["user_id"]).img_url), "https://open.spotify.com/user/#{User.find(session["user_id"]).uid}" %>
    <%= link_to "Hello, #{User.find(session["user_id"]).name}", "https://open.spotify.com/user/#{User.find(session["user_id"]).uid}" %>!
    <br>
    <%= link_to "Log Out", logout_path, :method => :delete %>
    <%= link_to "My Favorites", favorites_path %>
    <%= link_to "Search & Top 20", root_path %>
    <% end %>
</nav>

<br>

<%= session[:message] %>
<% session[:message]=nil %>

</header>

<%= yield %>

</body>
</html>
